.header{
  .columns{
    padding: 32px 0;
  }
}
.row,
.columns{
  padding: 16px 32px 16px 32px !important;
}
.main-header{
  .columns{
    
    p{
      font-size: 36px;
      font-weight: bold;
      line-height: 40px;
      color: #00204e;
    }
  }
}

.body-text{
  .columns{
    
    p{
      font-size: 16px;
      line-height: 24px;    
    }
  }
}

.news-header{
  
  .columns{
    
    p{
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
    }
  }
}

.news{
  .columns{
    .news-subject{
      padding-top: 8px !important;
      font-size: 16px;
      line-height: 24px;
      color: #002a61;
      font-weight: bold;
    }
  }
}

.special-offer{
  background: white;
  background-color: white;
  .columns{
    background: $body-background;
  background-color: $body-background;
    .offer-header{
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
    }
    p{
      font-size: 16px;
      line-height: 24px;  
    }
  }
  
}

.charity{
  .columns{
    padding-bottom: 32px !important;
  }
}
.charity-text{
  .columns{
    padding-top:0 !important;
    padding-bottom: 8px !important;
    .charity-subject{
      font-size: 16px;
      line-height: 24px;
      color: #002a61;
      font-weight: bold;
    }
  }
}

.ratings{
  .columns{
    img{
      display: inline-block !important;
      padding-left: 16px !important;
      height: 40px !important;
      width: 40px !important;
    }
      
    }
}

.footer{
  
  .footer-info-1{
    padding-left: 0 !important;
  }
  .footer-info-2{
    padding-left: 32px !important;
  }
  .columns{
    padding-top:16px !important;
    img{
      display: inline-block !important;
      
    }
    a{
      display: block !important;
      padding-bottom: 5px;
    }
  }
}